/.idea
/__pycache__
/CNN/ds_imgs
/CNN/masks
*.zip
/CNN/electrode_groove_seg8
*.png
*.jpg
/CNN/dataset_adj
/CNN/runs
/CNN/runs
CNN/.DS_Store
.DS_Store
/CNN/electrode_groove_seg2
/CNN/__pycache__
CNN/yolo11n-seg.pt
/CNN/dataset_45
/DetectionToJson/__pycache__
/DetectionToJson/electrode_groove_seg
/DetectionToJson/electrode_groove_seg45
*.txt
/GrooveRod_detection/RetrainYOLO/runs
/GrooveRod_detection/RetrainYOLO/dataset_labeling/labels
*.pt
DetectionToJson/predictions.json
*.avi
*.mp4
